*.apk filter=lfs diff=lfs merge=lfs -text
data.unity3d filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]version/unity[[:space:]]project/Library/PlayerDataCache/Android/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
